<!-- Credits Footer -->
<div class="credits-footer">
  <span 
    class="credits-trigger" 
    tabindex="0" 
    role="button" 
    aria-label="Show credits information"
  >
    Credits
    <span class="credits-tooltip">
      <strong>Created by:</strong> Sühan Sari 
      <a href="mailto:ssari@ford.com" class="credits-link">ssari@ford.com</a>
      <br>
      <strong>Contact:</strong> 
      <a href="mailto:ithelp@ford.com" class="credits-link">ithelp@ford.com</a>
      <span class="visually-hidden">Press Enter or hover to show credits information</span>
    </span>
  </span>
</div>
